#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.TableRow {
  display: grid;
  grid-template-columns: 400px repeat(2, 130px) 170px;
  gap: 10px;
  height: 40px;
}

.TableItem {
  text-align: center;
}
