.Table {
  display: grid;
  grid-auto-flow: row;
  background: #fff;
  font-weight: 500;
  gap: 10px;
  padding: 12px;
  border: 6px solid #dddddd;
  min-height: 550px;
}

.TableRow {
  display: grid;
  grid-template-columns: 400px repeat(2, 130px) 170px;
  gap: 10px;
  height: 40px;
}

.Cell {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #f5f5f5;
  padding-right: 24px;
}

.CellTitle {
  text-align: left;
  background: #f5f5f5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 12px;
}

.CellWithPercent {
  padding-right: 0px;
  justify-content: space-between;
}

.CellCostContainer {
  display: flex;
  justify-content: flex-end;
  width: 60%;
}

.CellPercentContainer {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  padding-right: 10px;
}

.CellToday {
  background: #edf8ff;
}

.CellGood {
  background: #ecf7e7;
}

.CellGoodPercent {
  color: green;
}

.CellBad { 
  background: #fee6e6;
}

.CellBadPercent {
  color: red;
}
